
body{
  margin: 1em 5em;
  background: rgb(255, 127, 159) ;
  font-weight: 336;
  width: 1440px;
  height: 1024px;
  top: 622px;
  left: -2277px;
  color: #f3f5fc;
}

#buttons{
display: flex;
width: 2000px;
justify-content: left;
margin-bottom: 5cap;

#button encripte__el__texto, #button desencripte__el__texto,#button boton-de-copiar {
    width: 680px;
    height: 100px;
    border-radius: 50px;
    margin: 5em 2em;
}



}